# JetBrains files
.idea/

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json